.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #3b3b3b 100%), url("https://source.unsplash.com/TMHL7wald8I/1920x1080");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.map-section {
    background-color: #3b3b3b;
    padding-bottom: 50px;
}

.aboutus-section {
    padding-top: 8rem;
    margin-bottom: 8rem;
}

.blog-section{
    margin-bottom: 8rem;
}

.figure-box {
    background-color: gray;
    height: 500px;
    padding: 100px 50px 100px 50px;
    margin-bottom: 100px;
}

.fakeimg {
    height: 400px;
    background: #aaa;
}

.site-footer{
    background: #e9ecef;
    padding: 4rem 2rem;
}

.wrap {
    padding: 2rem 4rem 2rem 4rem;
}

.no-padding {
    padding: 0px;
}

.card {
    border-radius: 0;
}